.login_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: rgb(32, 27, 117);
  background: linear-gradient(
    90deg,
    rgba(32, 27, 117, 1) 0%,
    rgba(48, 62, 111, 0.9812967423297444) 50%,
    rgba(28, 130, 150, 1) 97%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.login_from_wrapper {
  border: 1px solid blue;
  padding: 10px;
  border-radius: 12px;
}

.login_logo {
  font-size: 30px;
  line-height: 1.2;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  color: wheat;
  margin-bottom: 20px;
}
